<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>ADMIN</h1>
    <form method="post">
        <label for="departDate">Departure Date</label>
        <br>
        <input name="departDate" value="<%= dateFormat(data.Plan.departDate) %>" type="date">
        <br>
        <label for="departPort">Departure Port</label>
        <br>
        <select name="departPort">
            <option disabled>--SELECT PORT--</option>
            <% portData.forEach( el => { %>
                <option value="<%= el.id %>" <%- data.Plan.DepartPortId === el.id ? 'selected' : '' %> ><%= el.city %></option>

           <% }) %>
        </select>
        <br>
        <label for="arrivePort">Arrival Port</label>
        <br>
        <select name="arrivePort">
            <option disabled>--SELECT PORT--</option>
            <% portData.forEach( el => { %>
                <option value="<%= el.id %>" <%- data.Plan.ArrivePortId === el.id ? 'selected' : '' %>><%= el.city %></option>

           <% }) %>
        </select>
        <br>
        <label for="captain">Captain</label>
        <br>
        <select name="captain">
            <option disabled>--SELECT CAPTAIN--</option>
            <% captainData.forEach( el => { %>
                <option value="<%= el.id %>" <%- data.Captain.id === el.id ? 'selected' : '' %> <%- obj[el.id] ? 'disabled': '' %> ><%= el.city %><%= el.name %></option>

           <% }) %>
        </select>
        <br>
        <label for="boat">Boat</label>
        <br>
        <select name="boat">
            <option selected disabled>--SELECT BOAT--</option>
            <% boatData.forEach( el => { %>
                <option value="<%= el.id %>" <%- data.id === el.id ? 'selected' : '' %> <%- el.PlanId && data.id !== el.id ? 'disabled':'' %>   ><%= el.name %></option>

           <% }) %>
        </select>
        <br>
        <input type="submit" value="SUBMIT PLAN">
        <input type="reset" value="RESET">

    </form>
    
    
</body>
</html>