<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>

    <form>
      <label for="sort">Sort By:</label><br>
      <select name="sort">
        <option value="LatestDate">Date -- Ascending</option>
        <option value="earlyDate">Date -- Descending</option>
        <option value="cheapestPrice">Price -- Cheapest</option>
        <option value="expensive">Price -- Most Expensive</option>
      </select>
      <input type="submit" value="sort">
  </form>
  
    <table border="1">
      <thead>
        <th>No.</th>
        <th>Ship Name</th>
        <th>Depart Date</th>
        <th>Arrive Date</th>
        <th>Depart Port</th>
        <th>Arrival Port</th>
        <th>Price</th>
        <% if(!user.PlanId) { %>
        <th></th>
        <% } %>
      </thead>
      <tbody>
        <% data.forEach((elm, index) => {%>
        <tr>
          <td><%= index + 1 %></td>
          <td><%= dataBoatDepart[index].Boat.name %></td>
          <td><%= dateFormat(elm.departDate) %></td>
          <td><%= dateFormat(elm.arriveDate) %></td>
          <td><%= dataBoatDepart[index].DepartPort.city %></td>
          <td><%= tampung[elm.ArrivePortId] %></td>
          <td><%= moneyFormat(elm.totalPrice) %></td>

          <% if(!user.PlanId || user.PlanId == 0) { %>
          <td>
            <a href="/user/buyTicket/<%=elm.id%>"
              ><button>Buy Ticket</button></a
            >
          </td>
          <% } %>
        </tr>
        <%})%>
      </tbody>
    </table>
    <% if(user.PlanId) { %>

    <td>
      <a href="/user/cancelTicket/"><button>cancel Ticket</button></a>
    </td>
    <% } %>

    <a href="/user/logout">logout</a>
  </body>
</html>
